<div class="row navbar-default">
    <div class="col-md-6">
        <h1>Catalog Web App</h1>
    </div>
    <div class="col-md-6 text-right">
        {% if 'username' not in session %}
        <a href="{{ url_for('showLogin') }}">Click here to login</a>
        {% else %}
        <a href="{{ url_for('gdisconnect') }}">Logout</a>
        {% endif %}
    </div>
</div>
<div class="row navbar-default">
        <div class="col-md-12">
                <a href="{{ url_for('restaurantList') }}"><h5>Show all Restaurants</h5></a>
        </div>
</div>