<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{restaurant.name}}</h1>
<hr>

<div class="menulist">
    {% for each in items %}
    <span class="name">{{each.name}}</span>
    <span class="price">{{each.price}}</span>
    <span class="course">{{each.course}}</span>
    <span class="description">{{each.description}}</span>
    <div class="editdeletepane">
        <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id = each.id)}}">
            Edit
        </a>
        <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=each.id)}}">
            Delete
        </a>
    </div>
    <br/>
    <br/>
    {% endfor %}
    <a href="{{url_for('addMenuItem', restaurant_id=restaurant.id)}}">Add new menu item</a>
    <hr>
</div>
<p>
    <a href="{{url_for('restaurantList')}}">Cancel</a>

</p>

</body>
</html>