{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row page-header">
    <div class="col-md-12">
        <h3>Add new Restaurant</h3>
    </div>
</div>
<div class="row panel">
    <div class="col-md-6">
        <form role="form" action="{{url_for('addRestaurant')}}" method="post">
            <div class="form-group">
                <label for="name">Restaurant Name:</label>
                <input type="text" class="form-control" maxlength="100" name="name">
                <div class="padding-bottom"></div>
                <button type="submit" class="btn btn-primary" id="submit" value="Add">
                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                    Create
                </button>
                <a href="{{url_for('restaurantList')}}">
                    <button type="button" class="btn btn-default" id="cancel">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        Cancel
                    </button>
                    </a>
            </div>
        </form>
    </div>

</div>
<div class="row panel">
    <div class="col-md-6">
        <p></p>
    </div>
</div>
{% endblock %}

