{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row page-header">
    <div class="col-md-12">
        <h1>Restaurants</h1>
    </div>
</div>
<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="row panel">
    {% for each in restaurants %}
        <div class="list-group">
            <a href="{{url_for('menuList', restaurant_id=each.id)}}" class="list-group-item restaurant">{{each.name}}</a>
        </div>
    {% endfor %}

</div>
{% endblock %}