<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Restaurant Catalog Webapp</h1>
<hr>
<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="restaurantlist">
    {% for each in restaurants %}
    <ul>
        <li>
            <p>
                <a href="{{url_for('menuList', restaurant_id=each.id)}}">
                    {{each.name}}
                </a>
            </p>

            <a href="{{url_for('editRestaurant', restaurant_id=each.id) }}">
                Edit |
            </a>
            <a href="{{url_for('deleteRestaurant', restaurant_id=each.id) }}">
                Delete
            </a>
        </li>
    </ul>
    {% endfor %}
    <hr>
</div>


<div class="footer">
    <a href="{{url_for('addRestaurant')}}">
        Add new restaurant
    </a>
</div>


</body>
</html>