{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row page-header">
    <div class="col-md-12 text-center">
        <h1>Restaurants</h1>
    </div>
</div>
<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="row panel">
     <div class="col-md-6 col-md-offset-3">
            <div class="list-group text-center">
                {% for each in restaurants %}
                <a href="{{url_for('menuList', restaurant_id=each.id)}}" class="list-group-item restaurant">
                    {{each.name}}
                </a>
                {% endfor %}
            </div>
    </div>
</div>
<div class="row panel">
    <div class="col-md-12 text-center">
        <h5>
            <a href="{{ url_for('addRestaurant') }}">
            Add new restaurant
            </a>
        </h5>
    </div>
</div>

{% endblock %}