<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<div class="header">
    <h1>Restaurant Catalog Webapp</h1>
</div>

<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
&nbsp;
<div class="pane">
    {% for each in restaurants %}

        <a href="{{url_for('menuList', restaurant_id=each.id)}}">
            <span class="restaurant">{{each.name}}</span>
        </a>
    <div class="editdeletepane">
        <a href="{{url_for('editRestaurant', restaurant_id=each.id) }}">
            Edit |
        </a>
        <a href="{{url_for('deleteRestaurant', restaurant_id=each.id) }}">
            Delete
        </a>
    </div>
    {% endfor %}
    <hr>
    <div class="footer">
    <a href="{{url_for('addRestaurant')}}">
        Add new restaurant
    </a>
    </div>

</div>




</body>
</html>